.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.box {
  background-color: rgb(202, 130, 130);
  width: 40%;
}
.bx {
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.code {
  background-color: white;
  width: 100%;
  font-size: 38px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 60px;
}
.button {
  width: 100%;
  background-color: black;
  height: 50px;
  color: white;
  text-align: center;
  font-size: 28px;
}
